<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
  <h2>Signup</h2>

  <input type="email" id="signupEmail" placeholder="Email">
  <input type="password" id="signupPass" placeholder="Password">

  <button onclick="signup()">Create Account</button>

  <p>Already have account?
    <a href="index.html">Login</a>
  </p>
</div>

<!-- ⚠️ SCRIPT MUST BE AT BOTTOM -->
<script src="script.js"></script>
</body>
</html>
